img, object, embed, video {max-width: 100%;height:auto;}
body{
	font-family: Helvetica , "游ゴシック", sans-serif;
	font-size:130%;
	letter-spacing:0.2em;
	line-height:140%;
	background:#fffacd;}

#wrapper{width:90%;
	margin:0 auto;
}
/*header img{
/margin-left:38%;
ぴよーのロゴ真ん中の位置のこと*/}

#shiritai{
margin-top:10%;
text-align:center;
font-size:130%;
}
#piyohzukan{
width:29%;
margin-top:3%;
float:left;
text-align:center;
}
#piyohzukan img{
width:100%;
}

#piyonakama{
margin-top:5%;
}
#seiretsu{
width:100%;
margin-left:8%;
}
#comment{
padding-top:6%;
font-size:120%;
text-align:center;
line-height:150%;
clear:both;}

article{
width:100%;
margin:0 auto;

}
article img{
margin:0 auto;
display:block;
width:60%;
}
ul{
float:left;
}

ul li{
float:left;
}
footer{
margin-top:5%;
font-size:80%;
text-align:center;
clear:both;
}

@media only screen and (max-width: 700px) {

